#myhtml {
    font-size: 14px;
    position: relative;
    min-height: 100vh;
    font-family: Verdana;
}

@media (min-width: 768px) {
  #myhtml {
    font-size: 16px;
  }
}

#mybody {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #cad3f5;
    background-color: #181926;
}

.title {
    font-size: 2.6rem;
    padding: 1rem;
    border-bottom: 1px solid #cad3f5;
}

#welcome {
    font-size: 3.5rem;
}

.desc {
    font-size: inherit;
    margin: 1rem;
    max-width: 45rem;

}

.home_secondary {
    display: flex;
    justify-content: space-between;
}

.quote {
    margin-top: 4em;
    margin-left: 2em;
    width: 20em;
}

@media (max-width: 768px) {
    .ascii {
        display: none;
    }

    .home_secondary {
        justify-content: left;
    }
}


@media (min-width: 768px) {
    .ascii {
        width: 50%;
        font-family: "Courier New", Courier, monospace;
        font-size: 0.8vmin;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 70%;
        text-align: right;
        max-height: 100%;
        overflow: hidden;
    }

}


@media (min-width: 1000px) {
    .ascii {
        font-size: 1.2vmin; 
    }
}


.navbar-dark .navbar-nav .nav-item .nav-link, a {
    color: #cad3f5!important;
}

    .navbar-dark .navbar-nav .nav-item .nav-link:visited, a:visited {
        color: #cad3f5!important;
    }

    .navbar-dark .navbar-nav .nav-item .nav-link:hover, a:hover {
        color: #c6a0f6!important;
    }

    .navbar-dark .navbar-nav .nav-item .nav-link:active, a:active {
        color: #f0c6c6!important;
    }

.navbar-dark .navbar-nav .nav-item .nav-link {
    background: #24273a;
    margin: 4px 1rem 4px 1rem;
    padding: .2rem;
    width: fit-content;
    min-width: 10rem;
    border: 1px solid #181926;
    border-radius: 45px;
    text-decoration: none;
    text-align: center;
}


.nav-link {
    font-size: 1.4rem;
}

footer {
    position: static;
    margin-top: auto;
    height: 60px;
    line-height: 60px;
}


.project-card {
    margin: 3rem 0 3rem 0;
    padding: 1rem;
    width: 80vw;
    max-width: 45rem;
    border-radius: 10px;
    display: block;
    border: 1px solid #cad3f5!important;
    text-decoration: none;
    color: inherit;
}

    .project-card:visited, .navbar-dark .navbar-nav .nav-item .nav-link:visited {
        border: 1px solid #181926;
        text-decoration: none;
        color: inherit;
    }

    .project-card:hover, .navbar-dark .navbar-nav .nav-item .nav-link:hover {
        border: 1px solid #c6a0f6 !important;
        text-decoration: none;
        color: inherit;
    }

    .project-card:active, .navbar-dark .navbar-nav .nav-item .nav-link:active {
        border: 1px solid #f0c6c6;
        text-decoration: none;
        color: inherit;
    }


.project-title {

}

.project-desc {
    margin: 0;
}

.project-interior {
    display: flex;
    flex-direction: row;
}

.project-text {
    width: 80%;
}

.project-tech {
    width: 20%;
    align-self: center;
}

@media (max-width: 600px) {
    .project-interior {
        flex-direction: column;
    }
    .project-tech {
        align-self: flex-start;
    }
}

h3 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.tech-list {
    list-style: circle;
    margin-top: 0;
    margin-bottom: 0;
}

.tech-list-item {
}


.article-img {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    max-width: 45rem;

}

.article-img img {
    max-height: 240px;
    max-width: 480px;
    align-self: center;

}

.article-img div {
    padding: 0px 20px 0px 20px;
    max-width: 480px;
    align-self: center;
}

.article-img-wide img {
    max-height: 360px;
    max-width: 720px;
    align-self: center;
}

.article-img-wide div {
    max-width: 45rem;
    align-self: center;
}

@media (max-width: 768px) {
    .article-img-wide img {
        max-height: 240px;
        max-width: 100%;

    }

    .article-img-wide div {
        max-width: 100%;
    }
}



