body {
  font-size: 16px;
  color: #333;
}

.name {
  margin-top: 0px;
  margin-bottom: 20px;
}



.paper {
  background-color: #FFFFFF;
  padding: 40px;
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rm {
  display: inline-block;
}


a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #002b41;
}

mini_project {
  min-height: 240px;
}

.mini_title {
  font-size: 17px;
  font-weight: bolder;
}


.mini_project img {
  display: none;
  float: right;
  margin-left: 1rem;
  margin-top: 1rem;
}
p {
  overflow: hidden;
  max-width: 42rem;
}
@media (max-width: 650px) {
  .mini_project img {
    float: none;
  }


}
