html {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  overflow: hidden;

}

body {
  height: 100vh;
  background: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

.vpage {
  height: 100%;
  width: 85%;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}


.name_plate {
  font-size: 9rem;
  height: 9rem;
  line-height: 9rem;
  width: 100%;
  text-align: center;
  margin: 2rem;
}

@media (max-width: 900px) {
  .name_plate {
    font-size: 6rem;
    height: 6rem;
    line-height: 6rem;
    margin: 1rem;
  }
}

.menu {
  width: 25vw;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.menu_item {
  box-sizing: border-box;

  font-size: 2rem;
  text-align: center;
  line-height: 80px;
  margin: 2rem;

  text-decoration: none;
  color: white;
  background: url("img/test_border.png");
  position: relative;

}

.menu_item:active {
  color: #f0c6c6;
}

.menu_item, .menu_item a {
  width: 480px;
  height: 80px;
}

.menu_item a {
  display: inline-block;

  opacity: 0;
  transition: opacity 1s, transform 1s;

  background: url("img/test_border_sheet.png") 480px;
  animation: button_reverse 0.8s steps(3);
  animation-fill-mode: both;
}

.menu_item a:visited {
    color: white;  
}


@keyframes button_play {
  100% { background-position: 1920px; }
  0% { background-position: 480px; }
}

@keyframes button_reverse {
  100% { background-position: 480px; }
  0% { background-position: 1920px; }
}

.menu_item a:hover {
  opacity: 1;
  animation: button_play 0.8s steps(3);
  animation-fill-mode: both;
}
.menu_item a:active {
    color: black;
}

.menu_item p {
  position: absolute;
  z-index: -1;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
  text-align: center;
}

.vpage_floor {
  width: 1920px;
  height: 160px;
  position: absolute;
  bottom: 0px;
  
  overflow: hidden;
}
