:root {
  --bg1-color: #f1f0eb;
  --text1-color: #2e211b;
  --text2-color: #a52a2a;
  --red1-color: #a52a2a;
  --green1-color: #6b9362;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f1f0eb;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}
a { 
  color: var(--text1-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--text2-color);
  border-color: var(--text2-color);
}

.navbar a {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  width: 4rem;
  padding: 1rem;

  text-decoration: none;
  text-align: center;
}

.navbar {
  border-bottom: 1px solid var(text1-color);
}

#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
    background-color: #1e2030;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("custom-fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
